[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
plotly = "*"
torch = "*"
numpy = "*"
pandas = "*"
sklearn = "*"
nbformat = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.9"
